/*  ===========================CREDITS=========================== */
/*  Custom BTCpay Server CSS template made by @artdesignbySF.   */
/*  PLEASE CONSIDER DONATING BITCOIN IF YOU FIND          */
/*  THIS FILE USEFULL: 3LBQbv72rdSrLmFF66p9gMPDuPMcKL7UL1     */
/*  Follow @artdesignbySF on Twitter                */
/*  Contact via: artdesignbySF@protonmail.com           */
/*  =========================END CREDITS========================= */

/*  =========================DISCLAIMER========================== */
/*  Might not be the most efficient or correct way of implementing  */
/*  CSS. I am not responsable for breaking your website if things */
/*  go wrong. PEACE / LOVE / BITCOIN                */
/*  naranja #FF8000 gris #3e3e3e blue #65b4ff   */
/*  =======================END DISCLAIMER======================== */

/*======BACKGROUND COLOR======*/
html {
    /*background-color: #00c3ff !important;*/   /*===BACKGROUND COLOR===*/
}

.modal.page {
    /*background-color: #00c3ff;*/  /*===BACKGROUND COLOR===*/
}

.powered__by__btcpayserver {
    display: none;
}
/*=============================*/

/*=======HEADER SETTINGS=======*/
.top-header {
    background-color: #3e3e3e;  /*===HEADER BACKGROUND COLOR===*/
  border-radius:21px;  /*===ROUNDED CORNER SETTINGS===*/
}

.top-header .timer-row__progress-bar {
  border-top: 1px solid #ff8000;
    border-bottom: 1px solid #ff8000;
    background: linear-gradient(to right, #323232, #3e3e3e);    /*===PROGRESS BAR COLOR===*/
}

.top-header .timer-row {
    border-top: 1px solid #ff8000;  /*===COLORED LINE ABOVE PROGRESS BAR===*/
  border-bottom: 1px solid #ff8000; /*===COLORED LINE ABOVE PROGRESS BAR===*/
    background: #ff8000;  /*===PROGRESS BAR BACKGROUND COLOR===*/
}

.header__icon__img {
  display: block;
  width:;   /*===HEADER DIMENSIONS===*/
  height:;  /*===HEADER DIMENSIONS===*/
  margin-left: 50%;   /*===HEADER POSITION CORRECTION===*/
  margin-top: auto;   /*===HEADER POSITION CORRECTION===*/
}
/*============================*/

/*=====PAY WITH / AMOUNTS=====*/
.line-items {
    background-color: #262626;  /*===BACKGROUND COLOR===*/
    color: #fff !important;   /*===TEXT COLOR===*/
  padding-top: 15px;
    padding-bottom: 10px;
    border-top: 2px solid #1e1e1e !important;
  border-bottom: 2px solid #525252;
}

.buyerTotalLine {
    border-top: 1px solid #ff8000;
    background-color: #e57200;
    color: #fff;
  padding-top: 15px;
    padding-bottom: 12px;
}
/*==========================*/

/*=======PAYMENT TABS=======*/
.payment-tabs__slider {
  background: #00c3ff;  /*===SLIDER COLOR===*/
}

.payment-tabs {
    background-color: #3e3e3e;  /*===BACKGROUND COLOR===*/
  color: #fff;
    border-top: 1px solid #ff8000;  /*===COLORED LINE ABOVE PAYMENT TABS===*/
  border-bottom: 1px solid #ff8000; /*===COLORED LINE BELOW PAYMENT TABS===*/
}

.payment-tabs__tab.active {
    background: #262626;
    font-weight: 400;
    transition: all .2s ease-out;
    border-bottom: #ff8000 3px solid;
}

.page .modal-content, .page .modal-content.long {
  border-radius: 27px;

}

/*===========================*/

/*===OPEN IN WALLET BUTTON===*/
.action-button {
    color: #fff !important;
    background-image: linear-gradient(to bottom, #ff8000, #c96500);   /*===BUTTON BACKGROUND COLOR GRADIENT===*/
  border-color:#ff8000;  /*===BUTTON BORDER COLOR===*/
  box-shadow: 0px 0px 8px -3px #181818;  /*===DROP SHADOW SETTINGS===*/
  border-radius: 8px;   /*===ROUNDED CORNER SETTINGS===*/
}

.action-button:hover {
    background-image: linear-gradient(to top, #296fb3, #3da0ff);  /*===HOVER BUTTON BACKGROUND COLOR GRADIENT===*/
  border-color:#3da0ff; /*===BUTTON BORDER COLOR===*/
}

.action-button:focus, .action-button.focus {
    color: #fff;
    background-color: #ff8000;
    border-color: #ff8000;
}

.bp-input {
	border: 1px solid #ff8000;
    border-radius: 5px;
}
/*============================*/

/*===BOLT/NODE INFO BUTTONS===*/
.btnGroupLnd {
    box-shadow: 0px 0px 15px -3px #000000;  /*===DROP SHADOW SETTINGS===*/
  background-image: linear-gradient(to right, #00c3ff, #408cca);  /*===BUTTON BACKGROUND COLOR GRADIENT===*/
  background-color:#00c3ff; /*===BUTTON BACKGROUND COLOR (IF NO GRADIENT IS WANTED DELETE LINE ABOVE THIS)===*/
  border-color:#fff;  /*===BUTTON BORDER COLOR===*/
  border-radius: 6px; /*===ROUNDED CORNER SETTINGS===*/
}

.btnGroupLnd button {
  background-image: linear-gradient(to right, #00c3ff, #408cca); /*===BUTTON BACKGROUND COLOR GRADIENT===*/
  background-color:#00c3ff; /*===BUTTON BACKGROUND COLOR (IF NO GRADIENT IS WANTED DELETE LINE ABOVE THIS)===*/
  border-color: #fff; /*===BUTTON BORDER COLOR===*/
}

.btnGroupLnd button.active {
  background-image: linear-gradient(to right, #00c3ff, #408cca);  /*===ACTIVE BUTTON BACKGROUND COLOR GRADIENT===*/
  background-color:#00c3ff; /*===BUTTON BACKGROUND COLOR (IF NO GRADIENT IS WANTED DELETE LINE ABOVE THIS)===*/
  border-color: #fff;   /*===BUTTON BORDER COLOR===*/
}
/*===========================*/

/*=====CURRENCY DROPDOWN=====*/
.payment__currencies {
  border-radius:5px;  /*===ROUNDED CORNER SETTINGS===*/
  background-color: #262626; /*===BACKGROUND COLOR DROPDOWN MENU===*/
  border: 1px solid #fff;
}

.payment__currencies:hover {
  background: #3e3e3e; /*===MENU HOVER HIGHLIGHT COLOR===*/
}

.currency-selection {
    background-color: #3e3e3e;  /*===BACKGROUND COLOR===*/
    border-bottom: 0px solid #ff8000;
    color: #fff;  /*===TEXT COLOR===*/
    padding-top: 15px;
    padding-bottom: 15px;
    height: auto;
}

.vex.vex-theme-btcpay .vex-content  {
  padding: 1px;
  border-radius:0px; /*===ROUNDED CORNER SETTINGS===*/
  box-shadow: 0px 0px 15px -3px #000000; /*===DROP SHADOW SETTINGS===*/
}

.vexmenu  {
  background-color:#fff; /*===BACKGROUND COLOR===*/
}

.vexmenuitem:hover {
  background: #ff8000; /*===MENU BACKGROUND COLOR===*/
}

#prettydropdown-DefaultLang ul {
    color: #FFF !important;
    background-color: #262626 !important;
}

.prettydropdown>ul.active>li:not(.label):hover, .prettydropdown>ul.active>li.hover:not(.label), .prettydropdown>ul.active>li:first-child:hover:after {
    background: #ff8000;
    color: #fff;
}

.prettydropdown:not(.disabled)>ul.active {
    border-color: #ff8000;
}

/*===========================*/

/*===QR AND QR BACKGROUND===*/
.invoice {
  background-color: #262626;  /*===MENU BACKGROUND COLOR===*/
  border-radius: 21px; /*===ROUNDED CORNER SETTINGS===*/
  border: 5px solid #3e3e3e;
}

.payment-box {
  height:420px; /*===SIZE IMPORTANT BECAUSE HEIGHT LIGHTNING QR CODE + OUTLINE===*/
}

.payment__scan {
  width:276px;
  height:276px;
  margin-left:auto;
  margin-right:auto;
  margin-bottom:5px;
  margin-top:0px;
  border: 10px solid #f5f5f7; /*===QR CODE BORDER SIZE/COLOR (LEAVE AS IS FOR QUICK SCANNING)===*/
  border-radius: 8px;
}

.recommended-fee {
  margin-top:15px;
}

.expired__body {
    color: #fff;
}
/*==========================*/

/*======COLOR OF LINKS======*/
a {
  color: #27384b !important;  /*===LINK COLOR===*/
}
/*==========================*/

/*==="COLOR OF SOME TEXTS===*/
span {
  color:#fff; /*===TEXT COLOR===*/
}
/*=========================*/

/*=====LANGUAGE SELECT=====*/
#prettydropdown-DefaultLang ul {
  color: #FFF !important; /*  ===TEXT COLOR=== */
  background-color: #15171c !important;   /*===BACKGROUND COLOR===*/
}
/*===========================*/

/*====INSTRUCTIONAL TEXTS====*/
.manual__step-one__header {
    color: #fff;  /*===TEXT COLOR===*/
  opacity: 1;
}
.content-faded, .manual__step-one__instructions, .manual__step-two__instructions {
    color: #fff;  /*===TEXT COLOR===*/
  opacity: 1;
}
/*===========================*/

/*====COPY INFO BOX/TEXTS====*/
.copyBox {
  background-color:#262626;
  border-color:#ff8000;
}

.copyAmountText {
  color: #fff;  /*===TEXT COLOR===*/
}

.copySectionBox label {
  color: #fff;  /*===TEXT COLOR===*/
  opacity: 1;
}

.separatorGem {
  background:#408cca; /*===GEM ICON COLOR===*/
}
/*===========================*/

/*====PAYMENT SUCCES PAGE====*/
/*
.success-block {
  background-image: linear-gradient(to bottom, #fbff0000, #fff700f2); /*===GRADIENT BACKGROUND===*//*
}
*/
.success-message {
  color: #fff; /* ===TEXT COLOR=== */
}
/*===========================*/

/*  ===========================CREDITS=========================== */
/*  Custom BTCpay Server CSS template made by @artdesignbySF.   */
/*  PLEASE CONSIDER DONATING BITCOIN IF YOU FIND          */
/*  THIS FILE USEFULL: 3LBQbv72rdSrLmFF66p9gMPDuPMcKL7UL1     */
/*  Follow @artdesignbySF on Twitter                */
/*  Contact via: artdesignbySF@protonmail.com           */
/*  =========================END CREDITS========================= */

/*  =========================DISCLAIMER========================== */
/*  Might not be the most efficient or correct way of implementing  */
/*  CSS. I am not responsable for breaking your website if things */
/*  go wrong. PEACE / LOVE / BITCOIN                */
/*  =======================END DISCLAIMER======================== */
 
